<html>
<head>
</head>
<body>
<table>
        <tr>
            <td class="18" id="00">9 + 9</td>
            <td class="12" id="01">6 + 6</td>
            <td class="10" id="02">9 + 1</td>
        </tr>
        <tr>
            <td class="9" id="10" style="background-color: whitesmoke;">6 + 3</td>
            <td class="8" id="11" style="background-color: red;"><h1 class="oCell"> ojsdf</h1></td>
            <td class="20" id="12">10 + 10</td></tr><tr><td class="18" id="20" style="background-color: aqua;">
                <h1 class="xCell">×</h1></td><td class="14" id="21" style="background-color: whitesmoke;">7 + 7</td>
                <td class="10" id="22" style="background-color: whitesmoke;">5 + 5</td>
            </tr>
 </table> 
            
      
</body>
</html>